.outer {
    display: flex;
    width: 100%;
    height: 540px;
    background-image: url("https://images.unsplash.com/photo-1501949997128-2fdb9f6428f1?ixlib=rb-0.3.5&s=531cb9b3bc8c361d5bc6d1d0894ae648&auto=format&fit=crop&w=1350&q=80");
    background-size: cover;
  }
  
  .inner {
    width: 50%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background: #fffd;
    transition: width 200ms ease;
  }
  .inner:hover {
    width: 50%;
  }
  .inner:hover .text {
    transform: translateX(-3%);
  }


  .forecast{
    height: 100px;
    width: 200px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }
  
  
  